#root {
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.post-card{
  padding:20px;
  border: 2px solid white;
  
}
button{
  margin-bottom:40px;
  
}

.user-card{
  line-height:4px;
}
.user-card img{
  border-radius:13px;
  padding:4px;

}
.post-card{
  padding:1px;
}